.App {
  text-align: center;
  background-color: #000000;
  height: 97vh;
  overflow: hidden;
  padding: 20px 20px 20px 20px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 1000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 200px;
  }
}

.hero-available{
  margin-top: 100px;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  width: 140px;
  height: 40px;
  margin-bottom: 30px;
  font-size: 1rem;
  border-radius: 50px;
  border: solid 1px #FEED18;
  background-color: transparent;
  color: #FEED18;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease, box-shadow 0.4s ease; /* Transition for text color and glow */
  background: linear-gradient(90deg, #FEED18 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  box-shadow: 0 0 5px rgba(254, 237, 24, 0.3); /* Soft glow */
}

.App-button:hover {
  background-position: 0 0;
  color: #000000;
  transition: background-position 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 0 15px rgba(254, 237, 24, 0.7); /* Stronger glow on hover */
}



.App-link {
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}


.App-link:hover {
  color: #fff;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wrap {
  background: #000d1a;
  margin: 0;
  padding: 0;
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 200px;
  margin: 0 auto;
}


@keyframes opacity-animation {
	0% {
		opacity: 0
	}
}

@keyframes pulse-animation {
	0% {
		transform: translate(-50%, -50%) scale(0);
		opacity: .8
	}
	70% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(3)
	}
	to {
		transform: translate(-50%, -50%) scale(0);
		opacity: 0
	}
}

.pulse:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #f9e9a2;
    border-radius: 100%;
    opacity: .5;
    transform: translate(-50%,-50%) scale(3);
    animation: pulse-animation 3s infinite;
}

.pulse {
    position: relative;
    display: inline-block;
    vertical-align: 1px;
    width: 8px;
    height: 8px;
    margin: 0 6px;
    background: #ffdd40;
    color: transparent;
    border-radius: 100%;
    flex: 0 0 auto;
    animation: opacity-animation 1s linear;
  &.red {
    background: #e60000;
  }
  &.orange {
    background: #ff9900;
  }
  &.green {
    background: #FEED18;
  }
}